/* Fichier afin de pré-selectionner
des couleurs de thèmes */
// Thème 1
/*
$primary: #349250;
$primary-2: rgb(26, 77, 43);
//$secondary: #FFC107;
$secondary: #703492;
$dark: #000000;
$white: #ffffff;
*/
// Thème 2
/*
$primary: #205f92;
$primary-2: #2c80c5;
$secondary: #5ad9ff;
$color40: #FCB349;
$color50: #F2C246;
*/

// Thème 3
$primary: #314C71;
$primary-2: #156ead;
$secondary: #FCB349;
$color40: #FCB349;
$color50: #F2C246;
