/* Fichier afin de pré-selectionner
des couleurs de thèmes */
// Thème 1
$color1: #349250;
$color2: rgb(26, 77, 43);
$color3: #FFC107;
$color4: #000000;
$color5: #ffffff;
// Thème 2
$color10: #F54340;
$color20: #FC6F49;
$color30: #E68B4E;
$color40: #FCB349;
$color50: #F2C246;
